page-login {
  .toolbar-content,
  span {
    color: $color-white;
  }

  .toolbar-background , {
    background: transparent;
    background-color: transparent;
  }

  ion-footer {
    height: 47px;
  }

  .footer {
    background: $color-transparent-white-one;
    min-height: 47px;
    text-align: center;
  }

  .footer-md::before {
    background-image: none;
    border-top: 1px solid $color-transparent-white-one;
  }

  ion-content {
    animation: gradient-effect 15s linear infinite;
    background: linear-gradient(316deg, transparentize($color-black, .15), $color-dark-blue-gray);
    background-size: 1800% 1800%;
  }

  @keyframes gradient-effect {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }

  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .logo {
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
    width: 60%;
  }

  // Input items
  ion-item {
    background-color: $color-transparent-white-three;
    border-radius: 3px;
    color: $color-white;
    font-size: .9em;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  ::-webkit-input-placeholder {
    color: $color-white;
  }

  .item-inner {
    border-bottom: 0;
    box-shadow: none;
  }

  .login-button {
    border-radius: 3px;
    text-transform: none;

    &.activated {
      background-color: $color-transparent-white-two;
    }
  }

  // Facebook icon
  ion-icon {
    font-size: 2.2rem;
    padding-right: 10px;
  }

  // HR with text in the middle effect
  .strike {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }

  .strike>span {
    display: inline-block;
    font-weight: bold;
    position: relative;
  }

  .strike>span::before,
  .strike>span::after {
    background: $color-transparent-white-one;
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
  }

  .strike>span::before {
    margin-right: 15px;
    right: 100%;
  }

  .strike>span::after {
    left: 100%;
    margin-left: 15px;
  }
}
