// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$color-white: #fff;
$color-black: #000;
$color-dark-blue-gray: #404654;
$color-clear-gray: #ccc;
$color-dark-teal: #023e4a;
$color-dark-green-gray: #162221;
$color-transparent-white-one: transparentize($color-white, 0.95);
$color-transparent-white-two: transparentize($color-white, 0.4);
$color-transparent-white-three: transparentize($color-white, 0.2);
$color-tabs-background: transparentize(lighten($color-dark-teal, 0.2), 0.6);

$colors: (
  primary: #63d5c3,
  secondary: #facc2e,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-title-text-color: $color-white;
$toolbar-ios-button-color: $color-white;

$tabs-ios-tab-text-color: map-get($colors, light);
$tabs-ios-tab-text-color-active: map-get($colors, secondary);
$tabs-ios-tab-icon-color: map-get($colors, light);
$tabs-ios-tab-icon-color-active: map-get($colors, secondary);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-text-color: $color-white;
$toolbar-md-button-color: $color-white;

$searchbar-md-input-box-shadow: 0;
$searchbar-md-input-background-color: #f8f8f8;

$tabs-md-tab-text-color: map-get($colors, light);
$tabs-md-tab-text-color-active: map-get($colors, secondary);
$tabs-md-tab-icon-color: map-get($colors, light);
$tabs-md-tab-icon-color-active: map-get($colors, secondary);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import 'ionic.ionicons';

// Fonts
// --------------------------------------------------

@import 'roboto';
@import 'noto-sans';
