bw-contact {

    img {
        padding: 1rem;
        max-height: 70px;
        max-width: 70px;
        border-radius: 100%;
    }

    .item h5 {
        font-weight: lighter;
        margin: 0;
        padding: .5rem;
        font-size: 1.8rem;
    }

    ion-icon {
        font-weight: bold;
        font-size: 2.6rem;
    }
}
