bw-wallet-item {
  border-bottom: 1px solid map-get($colors, cleargray);

  img {
    flex: .25;
    max-height: 50px;
    max-width: 50px;
    padding: 1rem;
  }

  button {
    .wallet-broker {
      padding-left: 0;
    }
  }
}
