page-signup {
  .toolbar-content,
  .toolbar-title,
  span {
    color: map-get($colors, _white);
  }

  .toolbar-background , {
    background: transparent;
    background-color: transparent;
  }

  ion-footer {
    height: 47px;
  }

  .footer {
    background: map-get($colors, transparent-white-one);
    min-height: 47px;
    text-align: center;
  }

  .footer-md::before {
    background-image: none;
    border-top: 1px solid map-get($colors, transparent-white-one);
  }

  ion-content {
    animation: gradient-effect 15s linear infinite;
    background: linear-gradient(316deg, transparentize(map-get($colors, _black), .15), map-get($colors, darkbluegray));
    background-size: 1800% 1800%;
  }

  @keyframes gradient-effect {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }

  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .logo {
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 60%;
  }

  // Input items
  ion-item {
    background-color: map-get($colors, transparent-white-three);
    border-radius: 3px;
    color: map-get($colors, _white);
    font-size: .9em;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  ::-webkit-input-placeholder {
    color: map-get($colors, _white);
  }

  .item-inner {
    border-bottom: 0;
    box-shadow: none;
  }

  // -- LOGIN BUTTON
  .login-button {
    border-radius: 3px;
    text-transform: none;

    &.activated {
      background-color: map-get($colors, transparent-white-two);
    }
  }
}
