page-signup {
  .toolbar-content,
  span {
    color: $color-white;
  }

  .toolbar-background {
    background: transparent;
    background-color: transparent;
  }

  ion-footer {
    height: 47px;
  }

  .footer {
    background: $color-transparent-white-one;
    min-height: 47px;
    text-align: center;
  }

  .footer-md::before {
    background-image: none;
    border-top: 1px solid $color-transparent-white-one;
  }

  @media only screen and (min-width: 425px) {
    .scroll-content {
      padding: 0 15vw;
    }
  }

  @media only screen and (min-width: 640px) {
    .scroll-content {
      padding: 0 30vw;
    }
  }

  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
  }

  .logo {
    height: 60vw;
    margin: 0 auto;
    max-height: 25rem;
    padding: 3rem 0;
  }

  // Input items
  ion-item {
    background-color: $color-transparent-white-three;
    border-radius: 0.325rem;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 1rem;
    }
  }

  ::-webkit-input-placeholder {
    color: $color-white;
  }

  .item-inner {
    border-bottom: 0;
    box-shadow: none;
  }

  .login-button {
    border-radius: 3px;
    text-transform: none;

    &.activated {
      background-color: $color-transparent-white-two;
    }
  }
}
